.colorBarra{
    background-color: black;
}

.colorTexto{
    color: #ffffff;
}

.navbar .nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease; 
}

.navbar .nav-link:hover {
    color: red !important; 
}