<div class="card bg-dark text-white">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
            <form >
                <div class="form-group row">
                    <label for=" Nombre" class="col-form-label col-sm-2">Nombre:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="nike.nombre" name=" Nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Fundación" class="col-form-label col-sm-2">Fundación:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="nike.fecha_fundacion" name="Fundación">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Origen" class="col-form-label col-sm-2">Origen:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="nike.origen" name="Origen">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Ingresos anuales" class="col-form-label col-sm-2">Ingresos anuales:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="nike.ingresos_anuales" name="Ingresos anuales">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Empleados" class="col-form-label col-sm-2">Empleados:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="nike.empleados" name="Empleados">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!nike.id else elseBlock">
                            Crear
                        </button>

                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                        </ng-template>

                    </div>
                </div>
            </form>
    </div>
</div>